@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@font-face {
  font-family: "Lora";
  font-display: swap;
  src: url("../fonts/Lora-Bold.woff") format("woff"), url("../fonts/Lora-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lora";
  font-display: swap;
  src: url("../fonts/Lora-Regular.woff") format("woff"), url("../fonts/Lora-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-family: "Lato";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Lato";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-family: "Lato";
}

.wrapper {
  max-width: 1271px;
  margin-top: 20px;
}

.header__nav,
.nav__menu li,
.header__buttons,
.header__logo {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

.header__nav {
  vertical-align: middle;
}

.header__container {
  max-width: 1124px;
}

.header__nav {
  margin-left: 184px;
}

.header__buttons {
  margin-left: 81px;
}

.nav li {
  margin-right: 40px;
}

.nav li:last-child {
  margin-right: 0px;
}

.nav__link {
  color: #000;
}

.button__login {
  height: 43px;
  padding: 0px 24px;
  background-color: transparent;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 118.75%;
  color: #ff5722;
}

.button__sign {
  height: 43px;
  padding: 0px 24px;
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 118.75%;
  background-color: #ff5722;
  -webkit-box-shadow: 0px 4px 16px rgba(255, 87, 34, 0.32);
          box-shadow: 0px 4px 16px rgba(255, 87, 34, 0.32);
}

.introduce__text {
  padding-top: 56px;
  color: #222831;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  position: relative;
}

.introduce__text::after {
  content: "";
  display: inline-block;
  height: 2px;
  width: 73px;
  background-color: #222831;
  position: relative;
  left: 15px;
  top: -2px;
}

.section__container {
  max-width: 1124px;
  margin-top: 8px;
}

.section__left {
  display: inline-block;
  max-width: 667px;
}

.section__right {
  margin: 0px 0px 0px 71px;
  display: inline-block;
  max-width: 382px;
  vertical-align: top;
}

.left__text {
  font-family: "Lora";
  font-size: 52px;
  font-weight: 700;
  color: #10375c;
  line-height: 128.84615%;
}

.left__span {
  color: #dd2c00;
}

.right__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #6a6a6a;
}

.advantages__left {
  display: inline-block;
  vertical-align: top;
  max-width: 499px;
  margin-top: 120px;
}

.advantages__block {
  display: inline-block;
}

._no-webp .advantages__block:first-child{
  background: url("../img/meeting-room.png") 0 0 no-repeat; }

.advantages__block:first-child {
  padding-left: 56px;
}

._no-webp .advantages__block:nth-child(2){
  background: url("../img/circus.png") 0 0 no-repeat; }

.advantages__block:nth-child(2) {
  padding-left: 56px;
  margin-left: 124px;
}

._no-webp .advantages__block:nth-child(3){
  background: url("../img/Flag.png") 0 0 no-repeat; }

.advantages__block:nth-child(3) {
  margin-top: 64px;
  padding-left: 56px;
}

._no-webp .advantages__block:nth-child(4){
  background: url("../img/wifi.png") 0 0 no-repeat; }

.advantages__block:nth-child(4) {
  padding-left: 56px;
  margin-left: 162px;
}

._no-webp .advantages__block:nth-child(5){
  background: url("../img/man.png") 0 0 no-repeat; }

.advantages__block:nth-child(5) {
  margin-top: 64px;
  padding-left: 56px;
}

._no-webp .advantages__block:nth-child(6){
  background: url("../img/manypeople.png") 0 0 no-repeat; }

.advantages__block:nth-child(6) {
  padding-left: 56px;
  margin-left: 115px;
}

.block__figures {
  font-family: Lora;
  font-size: 32px;
  line-height: 128.125%;
  color: #10375c;
}

.block__text {
  color: #9a9a9a;
  margin-top: 8px;
  font-size: 16px;
  line-height: 162.5%;
}

.advantages__right {
  display: inline-block;
  vertical-align: top;
}

.why-frispes__container {
  margin: 84px 0px 0px 71px;
  padding: 54px 54px 53px 53px;
  width: 540px;
  height: 421px;
  background-color: #10375c;
}

.why-frispes__head {
  font-size: 20px;
  line-height: 150%;
  color: #fff;
  position: relative;
  top: 0;
}

.why-frispes__head::after {
  content: "";
  display: inline-block;
  height: 2px;
  width: 73px;
  background-color: #fff;
  position: relative;
  left: 15px;
  top: -2px;
}

.why-frispes__body {
  font-family: Lora;
  font-weight: bold;
  font-size: 40px;
  line-height: 127.5%;
  color: #ffffff;
  padding-top: 8px;
}

.why-frispes__footer {
  padding-top: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #ffffff;
}

.using-frispes__container {
  margin-top: 120px;
  max-width: 1250px;
}

.using-frispes__title {
  font-weight: bold;
  font-size: 40px;
  line-height: 127.5%;
  text-align: center;
  color: #0d2c4a;
}

.using-frispes__subtitle {
  font-size: 18px;
  line-height: 155.55556%;
  text-align: center;
  color: #9a9a9a;
  margin-top: 24px;
}

.images__icons {
  padding: 56px 60px 0px 0px;
}

.productivity__container {
  margin-top: 30px;
  max-width: 350px;
}

.productivity__title {
  padding-top: 14px;
  font-size: 22px;
  line-height: 127.27273%;
  font-family: "Lora";
  color: #222831;
}

.productivity__author {
  font-size: 16px;
  line-height: 162.5%;
  color: #9a9a9a;
  padding-top: 4px;
}

._webp .advantages__block:first-child{ background: url(../img/meeting-room.webp) 0 0 no-repeat; }

._webp .advantages__block:nth-child(2){ background: url(../img/circus.webp) 0 0 no-repeat; }

._webp .advantages__block:nth-child(3){ background: url(../img/Flag.webp) 0 0 no-repeat; }

._webp .advantages__block:nth-child(4){ background: url(../img/wifi.webp) 0 0 no-repeat; }

._webp .advantages__block:nth-child(5){ background: url(../img/man.webp) 0 0 no-repeat; }

._webp .advantages__block:nth-child(6){ background: url(../img/manypeople.webp) 0 0 no-repeat; }